# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Platform (flutter create bilan yaratiladi)
android/
ios/
web/
macos/
linux/
windows/
